<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidcastella.features.productlist">

    <application>
        <activity
            android:name=".views.ProductDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.ProductListActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
    </application>

</manifest>