<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidcastella.features.productlist">

    <application>
        <activity
            android:name="com.davidcastella.features.productlist.views.ProductListActivity"
            android:exported="true" />
    </application>

</manifest>